@use '../abstracts' as *;

/// WHITE SPACE ///
.white-space {
  margin-top: rem(60);
}

/// CONTAINER ///
.container {
  padding: 0 rem(30);
}

/// CONTENT WRAPPER ///
.content-wrapper {
  padding: rem(48) 0;
}

/// ITEM ///
.item {
  margin: rem(40) 0;
  
  &__title {
    font-size: rem(22);
  }
  
  &__icon {
    margin: rem(30) 0;
  }
}