@use '../abstracts' as *;

*, *::after, *::before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $strong-cyan;
  color: $white;
}

::selection {
  background-color: $strong-cyan;
  color: $white;
}

html {
  font-size: $default-html-font-size;
}

body {
  line-height: 1.6;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: rem(18);
}

.header,
.section {
  padding: rem(60) 0;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  margin: rem(12) 0;
  line-height: 1.3;
  color: $dark-grayish-blue;
}

p {
  margin: rem(12) 0;
  color: $grayish-blue;
  font-size: rem(15.5);
  
  @include breakpoint-up('medium') {
    font-size: rem(18);
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}