@use '../abstracts' as *;

/// HEADER ///
.header {
  background-image: url('../images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: rem(120);
  text-align: center;
  
  @include breakpoint-up('medium') {
    background-image: url('../images/bg-header-desktop.png');
  }
  
  &__title {
    font-size: rem(30);
    
    @include breakpoint-up('medium') {
      font-size: rem(45);
    }
  }
  
  &__description {
    margin: 0 auto;
    max-width: rem(650);
  }
}

/// KEEP TRACK ///
.keep-track .container {
  @media screen and (min-width: 81.25em) {
    margin: 0 auto;
    max-width: rem(1200);
  }
}

.keep-track__features {
  @include breakpoint-up('large') {
    display: flex;
  }
}

.keep-track__image {
  @include breakpoint-up('large') {
    transform: translateX(-5vw);
  }
}

.keep-track__list {
  @include breakpoint-up('large') {
    margin-left: rem(30);
    text-align: left;
  }
}

/// WORKFLOW ///
.workflow__list {
  
  @include breakpoint-up('large') {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.workflow__list .item__description {
  @include breakpoint-up('large') {
    margin: 0 auto;
  }
}

/* HACKING */
/** 
* 1. For an unknown reason, the first workflow child does not align correctly
*/
.workflow__item:first-child .item__icon {
  margin: rem(25) 0; /* 1 */
}

/// COMPANIES ///
.companies {
  text-align: center;
  
  &__logo {
    display: block;
    margin: rem(10) auto;
  }
}

.companies .container {
  display: grid;
  justify-content: center;
  gap: rem(30);
  margin: 0 auto;
  max-width: rem(1278);
  
  @supports (grid-gap: rem(30)) and (not (gap: rem(30))) {
    grid-gap: rem(30);
  }
  
  @supports not ((grid-gap: rem(30)) and (gap: rem(30))) {
    & > *:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  
  @include breakpoint-up('medium') {
    grid-template-columns: repeat(auto-fit, minmax(rem(165), 1fr));
    
    @supports not (display: grid) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      & > *:not(:last-child) {
        margin-bottom: 0;
        margin-right: rem(30);
      }
    }
  }
}


/// FOOTER ///
.footer {
  margin-top: rem(80);
  background-color: #F5F6F8;
  padding: rem(60) 0;
  text-align: center;
  
  @include breakpoint-up('large') {
    padding: rem(30) 0;
  }
  
  &__logo {
    margin-bottom: rem(20);
    height: rem(60);
    width: rem(60);
  }
  
  &__item {
    margin: rem(16) 0;
    
    @include breakpoint-up('large') {
      line-height: 2;
      margin: 0;
    }
  }
  
  &__link {
    color: $dark-grayish-blue;
    
    @include on-event {
      color: $strong-cyan;
    }
  }
  
  &__social {
    margin-top: rem(40);
    
    @include breakpoint-up('large') {
      margin-top: 0;
    }
  }
}

.footer .container {
  @include breakpoint-up('large') {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0 auto;
    max-width: rem(1278);
    
    @supports not (display: grid) {
      display: flex;
      
      & > * {
        flex-basis: 100%;
      }
    }
  }
}

.footer__list {
  
  @include breakpoint-up('large') {
    column-count: 3;
    text-align: left;
  }
}

.social__item {
  display: inline-block;
  
  &:nth-child(2) {
    margin: 0 rem(30);
  }
}

.social__item img {
  
  @include on-event {
    filter: 
      invert(53%) 
      sepia(100%) 
      saturate(306%) 
      hue-rotate(122deg) 
      brightness(93%) 
      contrast(97%);
  }
}