$default-html-font-size: 100% !default;
$black: rgb(17, 17, 17) !default;
$white: rgb(255, 255, 255) !default;

// Specific Variables Only For this project

/// PRIMARY COLORS ///
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);

/// NEUTRAL COLOR ///
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

// Breakpoints
$breakpoints-up: (
  'small': 31.25em,
  'medium': 50em,
  'large': 75em
);

$breakpoints-down: (
  'small': 31.1875em,
  'medium': 49.9375em,
  'large': 74.9375em
);